In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score,classification_report
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.tree import DecisionTreeClassifier


import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv(r"C:\Users\admin\bank.csv")

In [3]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,1,2,0,0,1,1,0,0,20,0,257,1,-1,0,3,0
11158,39,7,1,1,0,733,0,0,2,16,6,83,4,-1,0,3,0
11159,32,9,2,1,0,29,0,0,0,19,1,156,2,-1,0,3,0
11160,43,9,1,1,0,0,0,1,0,8,8,9,2,172,5,0,0
11161,34,9,1,1,0,0,0,0,0,9,5,628,1,-1,0,3,0

In [4]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  int64
 2   marital    11162 non-null  int64
 3   education  11162 non-null  int64
 4   default    11162 non-null  int64
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  int64
 7   loan       11162 non-null  int64
 8   contact    11162 non-null  int64
 9   day        11162 non-null  int64
 10  month      11162 non-null  int64
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  int64
 16  deposit    11162 non-null  int64
dtypes: int64(17)
memory usage: 1.4 MB

In [6]:
df["deposit"].value_counts()

0    5873
1    5289
Name: deposit, dtype: int64

In [7]:
#Separate x and y

In [8]:
x=df.iloc[:,:-1]
y=df["deposit"]

In [9]:
x

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,1,2,0,0,1,1,0,0,20,0,257,1,-1,0,3
11158,39,7,1,1,0,733,0,0,2,16,6,83,4,-1,0,3
11159,32,9,2,1,0,29,0,0,0,19,1,156,2,-1,0,3
11160,43,9,1,1,0,0,0,1,0,8,8,9,2,172,5,0
11161,34,9,1,1,0,0,0,0,0,9,5,628,1,-1,0,3

In [10]:
y

0        1
1        1
2        1
3        1
4        1
        ..
11157    0
11158    0
11159    0
11160    0
11161    0
Name: deposit, Length: 11162, dtype: int64

In [68]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.30,random_state=50)

In [69]:
#Making objects of each class

lreg=LogisticRegression()
knn=KNeighborsClassifier()
svm=SVC()
dt=DecisionTreeClassifier()

In [70]:
#Function of MYMODEL

def mymodel(model):
    model.fit(xtrain,ytrain)
    ypred=model.predict(xtest)
    ac=accuracy_score(ytest,ypred)
    cr=classification_report(ytest,ypred)
    print(f"Accuracy: {ac} \n Classification report: {cr}")

In [71]:
mymodel(lreg)

Accuracy: 0.76500447894894
 Classification report:               precision    recall  f1-score   support

           0       0.76      0.81      0.79      1767
           1       0.77      0.71      0.74      1582

    accuracy                           0.77      3349
   macro avg       0.77      0.76      0.76      3349
weighted avg       0.77      0.77      0.76      3349

In [72]:
mymodel(knn)

Accuracy: 0.7429083308450284
 Classification report:               precision    recall  f1-score   support

           0       0.75      0.77      0.76      1767
           1       0.73      0.71      0.72      1582

    accuracy                           0.74      3349
   macro avg       0.74      0.74      0.74      3349
weighted avg       0.74      0.74      0.74      3349

In [73]:
mymodel(svm)

Accuracy: 0.7408181546730367
 Classification report:               precision    recall  f1-score   support

           0       0.72      0.84      0.77      1767
           1       0.78      0.63      0.70      1582

    accuracy                           0.74      3349
   macro avg       0.75      0.74      0.74      3349
weighted avg       0.75      0.74      0.74      3349

In [74]:
mymodel(dt)

Accuracy: 0.7781427291728874
 Classification report:               precision    recall  f1-score   support

           0       0.78      0.80      0.79      1767
           1       0.77      0.75      0.76      1582

    accuracy                           0.78      3349
   macro avg       0.78      0.78      0.78      3349
weighted avg       0.78      0.78      0.78      3349

In [75]:
# Checking overfitting of data

In [76]:
dt.score(xtrain,ytrain)

1.0

### HyperTunning DT

In [77]:
#Hyper parameter with impurity checker Gini

for i in range(1,31):
    dt1=DecisionTreeClassifier(max_depth=i)
    dt1.fit(xtrain,ytrain)
    ypred=dt1.predict(xtest)
    ac=accuracy_score(ytest,ypred)
    print(f"max Depth:{i}  accuarcy:{ac}")

max Depth:1  accuarcy:0.712750074649149
max Depth:2  accuarcy:0.712750074649149
max Depth:3  accuarcy:0.7745595700209018
max Depth:4  accuarcy:0.7832188713048671
max Depth:5  accuarcy:0.8047178262167811
max Depth:6  accuarcy:0.8074051955807704
max Depth:7  accuarcy:0.8130785309047477
max Depth:8  accuarcy:0.8151687070767393
max Depth:9  accuarcy:0.8163630934607345
max Depth:10  accuarcy:0.8083009853687668
max Depth:11  accuarcy:0.8112869513287548
max Depth:12  accuarcy:0.8002388772767991
max Depth:13  accuarcy:0.7900865930128397
max Depth:14  accuarcy:0.7862048372648551
max Depth:15  accuarcy:0.7841146610928635
max Depth:16  accuarcy:0.7784413257688862
max Depth:17  accuarcy:0.7829202747088683
max Depth:18  accuarcy:0.7778441325768887
max Depth:19  accuarcy:0.7781427291728874
max Depth:20  accuarcy:0.7760525530008958
max Depth:21  accuarcy:0.7754553598088981
max Depth:22  accuarcy:0.777246939384891
max Depth:23  accuarcy:0.78501045088086
max Depth:24  accuarcy:0.7781427291728874
max Depth:25  accuarcy:0.7739623768289041
max Depth:26  accuarcy:0.7766497461928934
max Depth:27  accuarcy:0.7745595700209018
max Depth:28  accuarcy:0.7691848312929233
max Depth:29  accuarcy:0.7733651836369065
max Depth:30  accuarcy:0.7736637802329054

# Max Deth Hyperparameter

In [78]:
#Building model with final value of max depth as 8

dt2=DecisionTreeClassifier(max_depth=8)
mymodel(dt2)

Accuracy: 0.8166616900567334
 Classification report:               precision    recall  f1-score   support

           0       0.85      0.79      0.82      1767
           1       0.78      0.84      0.81      1582

    accuracy                           0.82      3349
   macro avg       0.82      0.82      0.82      3349
weighted avg       0.82      0.82      0.82      3349

In [79]:
# Lets check overfitting scenario
dt2.score(xtrain,ytrain)

0.8588250351977473

# min_samples_split

In [80]:
for i in range(2,50):
    dt4=DecisionTreeClassifier(min_samples_split=i)
    dt4.fit(xtrain,ytrain)
    ypred=dt4.predict(xtest)
    ac=accuracy_score(ytest,ypred)
    print(f"Min Sample Split:{i}  accuarcy:{ac}")

Min Sample Split:2  accuarcy:0.7682890415049268
Min Sample Split:3  accuarcy:0.7787399223648851
Min Sample Split:4  accuarcy:0.7709764108689161
Min Sample Split:5  accuarcy:0.7745595700209018
Min Sample Split:6  accuarcy:0.771275007464915
Min Sample Split:7  accuarcy:0.7799343087488803
Min Sample Split:8  accuarcy:0.7796357121528814
Min Sample Split:9  accuarcy:0.7745595700209018
Min Sample Split:10  accuarcy:0.7763511495968946
Min Sample Split:11  accuarcy:0.7781427291728874
Min Sample Split:12  accuarcy:0.7775455359808898
Min Sample Split:13  accuarcy:0.7826216781128695
Min Sample Split:14  accuarcy:0.7817258883248731
Min Sample Split:15  accuarcy:0.7829202747088683
Min Sample Split:16  accuarcy:0.7823230815168707
Min Sample Split:17  accuarcy:0.7876978202448492
Min Sample Split:18  accuarcy:0.7915795759928337
Min Sample Split:19  accuarcy:0.7951627351448194
Min Sample Split:20  accuarcy:0.7978501045088086
Min Sample Split:21  accuarcy:0.7981487011048074
Min Sample Split:22  accuarcy:0.7993430874888027
Min Sample Split:23  accuarcy:0.7993430874888027
Min Sample Split:24  accuarcy:0.8038220364287847
Min Sample Split:25  accuarcy:0.8053150194087787
Min Sample Split:26  accuarcy:0.8068080023887728
Min Sample Split:27  accuarcy:0.8074051955807704
Min Sample Split:28  accuarcy:0.809495371752762
Min Sample Split:29  accuarcy:0.8112869513287548
Min Sample Split:30  accuarcy:0.8124813377127501
Min Sample Split:31  accuarcy:0.8127799343087488
Min Sample Split:32  accuarcy:0.8127799343087488
Min Sample Split:33  accuarcy:0.8124813377127501
Min Sample Split:34  accuarcy:0.8130785309047477
Min Sample Split:35  accuarcy:0.8121827411167513
Min Sample Split:36  accuarcy:0.8103911615407584
Min Sample Split:37  accuarcy:0.8112869513287548
Min Sample Split:38  accuarcy:0.8124813377127501
Min Sample Split:39  accuarcy:0.8130785309047477
Min Sample Split:40  accuarcy:0.8124813377127501
Min Sample Split:41  accuarcy:0.8139743206927441
Min Sample Split:42  accuarcy:0.8148701104807405
Min Sample Split:43  accuarcy:0.8145715138847417
Min Sample Split:44  accuarcy:0.8145715138847417
Min Sample Split:45  accuarcy:0.8151687070767393
Min Sample Split:46  accuarcy:0.8151687070767393
Min Sample Split:47  accuarcy:0.8145715138847417
Min Sample Split:48  accuarcy:0.8148701104807405
Min Sample Split:49  accuarcy:0.8145715138847417

In [81]:
dt4=DecisionTreeClassifier(min_samples_split=43)
mymodel(dt4)

Accuracy: 0.8151687070767393
 Classification report:               precision    recall  f1-score   support

           0       0.83      0.82      0.82      1767
           1       0.80      0.81      0.80      1582

    accuracy                           0.82      3349
   macro avg       0.81      0.81      0.81      3349
weighted avg       0.82      0.82      0.82      3349

In [82]:
dt4.score(xtrain,ytrain)

0.87725585562524

# min_samples_leaf

In [83]:
for i in range(1,51):
    dt5=DecisionTreeClassifier(min_samples_leaf=i)
    dt5.fit(xtrain,ytrain)
    ypred=dt5.predict(xtest)
    ac=accuracy_score(ytest,ypred)
    print(f"Min Sample leaf:{i}  accuarcy:{ac}")

Min Sample leaf:1  accuarcy:0.7784413257688862
Min Sample leaf:2  accuarcy:0.7644072857569424
Min Sample leaf:3  accuarcy:0.7790385189608838
Min Sample leaf:4  accuarcy:0.7838160644968647
Min Sample leaf:5  accuarcy:0.7802329053448791
Min Sample leaf:6  accuarcy:0.7876978202448492
Min Sample leaf:7  accuarcy:0.7963571215288145
Min Sample leaf:8  accuarcy:0.8014332636607943
Min Sample leaf:9  accuarcy:0.8005374738727978
Min Sample leaf:10  accuarcy:0.8020304568527918
Min Sample leaf:11  accuarcy:0.8071065989847716
Min Sample leaf:12  accuarcy:0.8115855479247537
Min Sample leaf:13  accuarcy:0.8181546730367274
Min Sample leaf:14  accuarcy:0.8139743206927441
Min Sample leaf:15  accuarcy:0.8163630934607345
Min Sample leaf:16  accuarcy:0.8124813377127501
Min Sample leaf:17  accuarcy:0.8145715138847417
Min Sample leaf:18  accuarcy:0.8166616900567334
Min Sample leaf:19  accuarcy:0.8163630934607345
Min Sample leaf:20  accuarcy:0.8133771275007465
Min Sample leaf:21  accuarcy:0.8130785309047477
Min Sample leaf:22  accuarcy:0.8145715138847417
Min Sample leaf:23  accuarcy:0.8136757240967453
Min Sample leaf:24  accuarcy:0.8109883547327561
Min Sample leaf:25  accuarcy:0.8118841445207524
Min Sample leaf:26  accuarcy:0.8166616900567334
Min Sample leaf:27  accuarcy:0.8145715138847417
Min Sample leaf:28  accuarcy:0.8154673036727381
Min Sample leaf:29  accuarcy:0.8130785309047477
Min Sample leaf:30  accuarcy:0.8136757240967453
Min Sample leaf:31  accuarcy:0.8130785309047477
Min Sample leaf:32  accuarcy:0.8121827411167513
Min Sample leaf:33  accuarcy:0.8139743206927441
Min Sample leaf:34  accuarcy:0.8139743206927441
Min Sample leaf:35  accuarcy:0.8133771275007465
Min Sample leaf:36  accuarcy:0.8115855479247537
Min Sample leaf:37  accuarcy:0.8115855479247537
Min Sample leaf:38  accuarcy:0.8121827411167513
Min Sample leaf:39  accuarcy:0.8127799343087488
Min Sample leaf:40  accuarcy:0.8151687070767393
Min Sample leaf:41  accuarcy:0.8151687070767393
Min Sample leaf:42  accuarcy:0.814272917288743
Min Sample leaf:43  accuarcy:0.814272917288743
Min Sample leaf:44  accuarcy:0.8103911615407584
Min Sample leaf:45  accuarcy:0.8115855479247537
Min Sample leaf:46  accuarcy:0.8106897581367573
Min Sample leaf:47  accuarcy:0.8145715138847417
Min Sample leaf:48  accuarcy:0.8145715138847417
Min Sample leaf:49  accuarcy:0.8124813377127501
Min Sample leaf:50  accuarcy:0.8115855479247537

In [84]:
dt5=DecisionTreeClassifier(min_samples_leaf=42)
mymodel(dt5)

Accuracy: 0.814272917288743
 Classification report:               precision    recall  f1-score   support

           0       0.84      0.80      0.82      1767
           1       0.79      0.83      0.81      1582

    accuracy                           0.81      3349
   macro avg       0.81      0.82      0.81      3349
weighted avg       0.82      0.81      0.81      3349

In [85]:
dt5.score(xtrain,ytrain)

0.8377063867912453