In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("cars.csv")

In [3]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [5]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [6]:
feature=df.iloc[:,:-1]

In [7]:
feature

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25

In [8]:
target=df.iloc[:,-1]

In [9]:
target

0      13495
1      16500
2      16500
3      13950
4      17450
       ...
200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, Length: 205, dtype: int64

In [10]:
feature.replace("?",np.nan,inplace=True)
target.replace("?",np.nan,inplace=True)

In [11]:
feature["normalized-losses"]=feature["normalized-losses"].astype("float")

In [12]:
feature["horsepowers"]=feature["horsepower"].astype("float")

In [15]:
feature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         203 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  horsepowers        203 non-null    float64
dtypes: float64(4), int64(4), object(7)
memory usage: 24.1+ KB

In [14]:
feature.mean()

symboling              0.834146
normalized-losses    122.000000
width                 65.907805
height                53.724878
engine-size          126.907317
city-mpg              25.219512
highway-mpg           30.751220
horsepowers          104.256158
dtype: float64

In [16]:
feature["normalized-losses"].fillna(feature["normalized-losses"].mean(),inplace=True)
feature["horsepowers"].fillna(feature["horsepowers"].mean(),inplace=True)

In [18]:
num_feature=feature.select_dtypes(["int64","float64"])
cat_feature=feature.select_dtypes(["object"])

In [20]:
num_feature

,symboling,normalized-losses,width,height,engine-size,city-mpg,highway-mpg,horsepowers
0,3,122.0,64.1,48.8,130,21,27,111.0
1,3,122.0,64.1,48.8,130,21,27,111.0
2,1,122.0,65.5,52.4,152,19,26,154.0
3,2,164.0,66.2,54.3,109,24,30,102.0
4,2,164.0,66.4,54.3,136,18,22,115.0
...,...,...,...,...,...,...,...,...
200,-1,95.0,68.9,55.5,141,23,28,114.0
201,-1,95.0,68.8,55.5,141,19,25,160.0
202,-1,95.0,68.9,55.5,173,18,23,134.0
203,-1,95.0,68.9,55.5,145,26,27,106.0
204,-1,95.0,68.9,55.5,141,19,25,114.0

In [21]:
cat_feature

,make,fuel-type,body-style,drive-wheels,engine-location,engine-type,horsepower
0,alfa-romero,gas,convertible,rwd,front,dohc,111
1,alfa-romero,gas,convertible,rwd,front,dohc,111
2,alfa-romero,gas,hatchback,rwd,front,ohcv,154
3,audi,gas,sedan,fwd,front,ohc,102
4,audi,gas,sedan,4wd,front,ohc,115
...,...,...,...,...,...,...,...
200,volvo,gas,sedan,rwd,front,ohc,114
201,volvo,gas,sedan,rwd,front,ohc,160
202,volvo,gas,sedan,rwd,front,ohcv,134
203,volvo,diesel,sedan,rwd,front,ohc,106
204,volvo,gas,sedan,rwd,front,ohc,114

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit_transform()