In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pylab as mlt
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv(r"C:\Users\admin\data2.csv")
df

    Name   Python Machine Learning      Age       AI  NLP       Cv
0    jay       90                ?       23       90    ?       23
1    raj  missing               89      NaN  missing   89      NaN
2  kumar       78               78        ?       78   78        ?
3  suraj      NaN              NaN  missing      NaN  NaN  missing
4  pawan  missing              NaN       21  missing  NaN       21
5  viraj       65               56       22       65   56       22
6  vijay       45               67        ?       45   67        ?
7  sumit       80               45       24       80   45       24
8  akash       70               67  missing       70   67  missing
9  sujit      NaN              NaN       22      NaN  NaN       22

In [3]:
#Step1:find & replace missing value with NaN 
df['Python'].replace("missing",np.nan,inplace=True)
df['Machine Learning'].replace("?",np.nan,inplace=True)
df['Age'].replace("missing",np.nan,inplace=True)
df['Age'].replace("?",np.nan,inplace=True)
df['AI'].replace("missing",np.nan,inplace=True)
df['NLP'].replace("?",np.nan,inplace=True)
df['Cv'].replace("missing",np.nan,inplace=True)
df['Cv'].replace("?",np.nan,inplace=True)

In [4]:
df

    Name Python Machine Learning  Age   AI  NLP   Cv
0    jay     90              NaN   23   90  NaN   23
1    raj    NaN               89  NaN  NaN   89  NaN
2  kumar     78               78  NaN   78   78  NaN
3  suraj    NaN              NaN  NaN  NaN  NaN  NaN
4  pawan    NaN              NaN   21  NaN  NaN   21
5  viraj     65               56   22   65   56   22
6  vijay     45               67  NaN   45   67  NaN
7  sumit     80               45   24   80   45   24
8  akash     70               67  NaN   70   67  NaN
9  sujit    NaN              NaN   22  NaN  NaN   22

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              10 non-null     object
 1   Python            6 non-null      object
 2   Machine Learning  6 non-null      object
 3   Age               5 non-null      object
 4   AI                6 non-null      object
 5   NLP               6 non-null      object
 6   Cv                5 non-null      object
dtypes: object(7)
memory usage: 688.0+ bytes

In [6]:
#Step 2: change datatype
#null value not convert into int thus its convert into float
df['Python']=df['Python'].astype('float')
df['Machine Learning']=df['Machine Learning'].astype('float')
df['Age']=df['Age'].astype('float')
df['AI']=df['AI'].astype('float')
df['NLP']=df['NLP'].astype('float')
df['Cv']=df['Cv'].astype('float')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              10 non-null     object
 1   Python            6 non-null      float64
 2   Machine Learning  6 non-null      float64
 3   Age               5 non-null      float64
 4   AI                6 non-null      float64
 5   NLP               6 non-null      float64
 6   Cv                5 non-null      float64
dtypes: float64(6), object(1)
memory usage: 688.0+ bytes

In [8]:
#Step 3:get mean
pmean=df['Python'].mean()
mlmean=df['Machine Learning'].mean()
amean=df['Age'].mean()
aimean=df['AI'].mean()
nlpmean=df['NLP'].mean()
cvmean=df['Cv'].mean()

In [9]:
#Step 4:Fill null value
df['Python'].fillna(pmean,inplace=True)
df['Machine Learning'].fillna(mlmean,inplace=True)
df['Age'].fillna(amean,inplace=True)
df['AI'].fillna(aimean,inplace=True)
df['NLP'].fillna(nlpmean,inplace=True)
df['Cv'].fillna(cvmean,inplace=True)
df

    Name     Python  Machine Learning   Age         AI   NLP    Cv
0    jay  90.000000              67.0  23.0  90.000000  67.0  23.0
1    raj  71.333333              89.0  22.4  71.333333  89.0  22.4
2  kumar  78.000000              78.0  22.4  78.000000  78.0  22.4
3  suraj  71.333333              67.0  22.4  71.333333  67.0  22.4
4  pawan  71.333333              67.0  21.0  71.333333  67.0  21.0
5  viraj  65.000000              56.0  22.0  65.000000  56.0  22.0
6  vijay  45.000000              67.0  22.4  45.000000  67.0  22.4
7  sumit  80.000000              45.0  24.0  80.000000  45.0  24.0
8  akash  70.000000              67.0  22.4  70.000000  67.0  22.4
9  sujit  71.333333              67.0  22.0  71.333333  67.0  22.0

In [10]:
#Onther way to find Mean & fill mean in all nan values
#df.mean()
#df.fillna(df.mean(),inplace=True)

### Handling missing values using sklearn(scykitlean)

In [11]:
df2=pd.read_csv(r"C:\Users\admin\data2.csv")

In [12]:
df2

    Name   Python Machine Learning      Age       AI  NLP       Cv
0    jay       90                ?       23       90    ?       23
1    raj  missing               89      NaN  missing   89      NaN
2  kumar       78               78        ?       78   78        ?
3  suraj      NaN              NaN  missing      NaN  NaN  missing
4  pawan  missing              NaN       21  missing  NaN       21
5  viraj       65               56       22       65   56       22
6  vijay       45               67        ?       45   67        ?
7  sumit       80               45       24       80   45       24
8  akash       70               67  missing       70   67  missing
9  sujit      NaN              NaN       22      NaN  NaN       22

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              10 non-null     object
 1   Python            8 non-null      object
 2   Machine Learning  7 non-null      object
 3   Age               9 non-null      object
 4   AI                8 non-null      object
 5   NLP               7 non-null      object
 6   Cv                9 non-null      object
dtypes: object(7)
memory usage: 688.0+ bytes

In [14]:
from sklearn.impute import SimpleImputer
#skleanrn is library 
#SimpleImputer is object of skleran
#To fill na below 4 strategy use
#bydefalut mean
#median
#mod
#constant

In [15]:
#SimpleImputer(missing_values,strategy,fill_value)
si=SimpleImputer()

In [16]:
df2['Python'].replace("missing",np.nan,inplace=True)
df2['Machine Learning'].replace("?",np.nan,inplace=True)
df2['Age'].replace("missing",np.nan,inplace=True)
df2['Age'].replace("?",np.nan,inplace=True)
df2['AI'].replace("missing",np.nan,inplace=True)
df2['NLP'].replace("?",np.nan,inplace=True)
df2['Cv'].replace("missing",np.nan,inplace=True)
df2['Cv'].replace("?",np.nan,inplace=True)

In [17]:
df2.iloc[:,1:]=si.fit_transform(df2.iloc[:,1:])

In [18]:
df2

    Name     Python Machine Learning   Age         AI   NLP    Cv
0    jay       90.0             67.0  23.0       90.0  67.0  23.0
1    raj  71.333333             89.0  22.4  71.333333  89.0  22.4
2  kumar       78.0             78.0  22.4       78.0  78.0  22.4
3  suraj  71.333333             67.0  22.4  71.333333  67.0  22.4
4  pawan  71.333333             67.0  21.0  71.333333  67.0  21.0
5  viraj       65.0             56.0  22.0       65.0  56.0  22.0
6  vijay       45.0             67.0  22.4       45.0  67.0  22.4
7  sumit       80.0             45.0  24.0       80.0  45.0  24.0
8  akash       70.0             67.0  22.4       70.0  67.0  22.4
9  sujit  71.333333             67.0  22.0  71.333333  67.0  22.0

## CAR Data

In [19]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pylab as plt
import warnings
warnings.filterwarnings("ignore")

In [20]:
df=pd.read_csv(r"C:\Users\admin\car.csv")
df

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\admin\\car.csv'

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
#Features and target should be seperation.
#Features and target should be numeric in nature.
#Features and target should be  in proper shape and dimention.

feature=df.iloc[ : , :-1]
feature

In [ ]:
target=df.iloc[ : ,-1]
target

In [ ]:
feature.replace("?",np.nan,inplace=True)
target.replace("?",np.nan,inplace=True)
feature

In [ ]:
#filing null value
#SimpleImputer(missing_values,strategy,fill_value)
from sklearn.impute import SimpleImputer
s=SimpleImputer(missing_values=np.nan,strategy='mean')#strategy='mod',strategy='median'
feature[['normalized-losses','horsepower']]=s.fit_transform(feature[['normalized-losses','horsepower']])

In [ ]:
feature

### Outlier -->Observation lies an abnormal distance from other values in random sample of populatuion

In [ ]:
plt.figure(figsize=(10,10))
sns.boxplot(data=feature,x=target,y='make')
plt.grid()

In [ ]:
i=feature[(feature.make=='dodge')&(target>10000)].index
feature.drop(i,axis=0,inplace=True)
target.drop(i,axis=0,inplace=True)

i=feature[(feature.make=='honda')&(target>12000)].index
feature.drop(i,axis=0,inplace=True)
target.drop(i,axis=0,inplace=True)

i=feature[(feature.make=='isuzu')&(target>20000)].index
feature.drop(i,axis=0,inplace=True)
target.drop(i,axis=0,inplace=True)

i=feature[(feature.make=='mitsubishi')&(target>13000)].index
feature.drop(i,axis=0,inplace=True)
target.drop(i,axis=0,inplace=True)

i=feature[(feature.make=='plymouth')&(target>10000)].index
feature.drop(i,axis=0,inplace=True)
target.drop(i,axis=0,inplace=True)

i=feature[(feature.make=='toyota')&(target>15000)].index
feature.drop(i,axis=0,inplace=True)
target.drop(i,axis=0,inplace=True)

In [ ]:
plt.figure(figsize=(10,10))
sns.boxplot(data=feature,x=target,y='make')
plt.grid()

## Skewness

In [ ]:
#if skweness 0=NO need to reduce skweness 
#if skweness -1=NO need to reduce skweness
#if skweness is highly positive than reduce it by aplying 'log' or 'squrroot' method
#thos skweness is high but if it is highly corelated with target datathan no need to change
#skewness is work only on numeric values
# if high skewness find and that skew is affect on my target column than reduce that skewness.

In [ ]:
feature.info()

In [ ]:
#for selecting specific data type from dataframe(feature) select_dtype method use as follows
col=feature.select_dtypes(['int64','float64']).columns

In [ ]:
#To know value of skewness
from scipy.stats import skew

In [ ]:
for i in feature[col]:
    print(i)
    print(skew(feature[i]))
    
    plt.figure()
    sns.distplot(feature[i])
    plt.show()

# 04-07-2023 :

## To calculatte co-relation to check the skewness reduce required or not

In [ ]:
pd.concat([feature,target],axis=1).corr().style.background_gradient()
#if corr is >=.5 good corr no need to change the data

In [ ]:
#If column which have skweness is showing good corelation with target do not remove skweness.
#if column which has skweness and also has some negative values in corelation,do not remove skweness
#If found skweness >=0 than and the correlation is <0.5 than its need to work on skewness i.e need to reduce the data

In [ ]:
print(np.log(-1))
print(np.sqrt(25))
#these two method are used to remove skewness

### Step 4 of EDA : remove skweness

In [ ]:
np.log(feature['normalized-losses'])

In [ ]:
feature['normalized-losses']=np.log(feature['normalized-losses'])

In [ ]:
skew(feature['normalized-losses'])

In [ ]:
feature.head()
#If there is no numeric values than that columns data called categorial data type

### Step5 of EDA : Encoding To convert categorical data into numerical data

In [ ]:
feature.info()

In [ ]:
feature['make'].unique()

## 05-07-2023 
### Handling categorical column using Encoding

In [ ]:
feature['fuel-type']

In [ ]:
pd.get_dummies(feature['fuel-type'])

In [ ]:
pd.get_dummies(feature['make'])

In [ ]:
#steps of 
#1 Import the liabrary
#2 create object
#3 apply method

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
#[[]] to convert into data frame
#[] is represet series
#Due to onehotencoder is only show after applying 'toarray()' thats why its need to show in 2D array i.e apply[[]]
ohe=OneHotEncoder()
ohe.fit_transform(feature[['make']]).toarray()

In [ ]:
#Label Encoder
#its 1D array []
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit_transform(feature['make'])

In [ ]:
#Ordinal Encoder
#its work on multiple column
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder()
oe.fit_transform(feature[['make','fuel-type']])

In [ ]:
cat_col=feature.select_dtypes(object).columns

In [ ]:
feature[cat_col]=oe.fit_transform(feature[cat_col])

In [ ]:
feature

In [ ]:
feature.info()

## 06-07-2023

In [ ]:
#library(sklearn)->module(preprocessing)->classes(StandardScaler)->method(fit_transform)
from sklearn.preprocessing import StandardScaler 
sc=StandardScaler()
feature.iloc[:,:]=sc.fit_transform(feature.iloc[:,:])

In [ ]:
feature

In [ ]:
a=np.array([1,2,3,4,5])
b=np.array([10,20,30,40,50])
c=np.array([100,200,300,400,500])

In [ ]:
def minmax(arr):
    xnew=(arr-arr.min())/(arr.max()-arr.min())
    return xnew

In [ ]:
minmax(c)

In [ ]:
#from sklearn.preprocessing import MinMaxScaler
#we already apply standard scaler so MinMaxScaler not apply here

In [ ]:
#On available data split the data into 
#train-test-split
#x i/p xtrait & xtest
#y o/p ytrait & ytest

# Feature Engineering

In [ ]:
feature['Area']=feature['width']*feature['height']

In [ ]:
feature

In [ ]:
feature.drop(['height','width'],axis=1,inplace=True)

In [ ]:
feature

# Scores Data Analysis 10-07-2023

In [ ]:
df=pd.read_csv(r"C:\Users\admin\Desktop\Scores.csv")
df

In [ ]:
df.info()

In [ ]:
#Always x should be in 2D and y in 1D
#split the data into x & y i.e features & target column
x=df[['Hours']]
y=df['Scores']

In [ ]:
#Split data into tain and test
#random_state is use to give permenant size for xtrain
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
xtrain

In [ ]:
ytrain

In [ ]:
#built model
#Step:1 Import model
from sklearn.linear_model import LinearRegression

#Step:2 Create instance/object of model
lr=LinearRegression()

#Step:3 Train a model
lr.fit(xtrain,ytrain)#In Linear Regression best fit value by calculating
                     #m and c.     
#Step:4 predict values
ypred=lr.predict(xtest)

In [ ]:
ypred

In [ ]:
ytest

In [ ]:
xtest

In [ ]:
lr.coef_ #finding slop(m)

In [ ]:
lr.intercept_ # finding slop(c)

In [ ]:
#Evaluate model
from sklearn.metrics import r2_score

In [ ]:
r2_score(ytest,ypred)

In [ ]:
lr.predict([[4.4]])#predicting new observation

# Real Estate 10.07.2023

In [ ]:
df=pd.read_csv(r"C:\Users\admin\Desktop\Real_estates.csv")

In [ ]:
df

In [ ]:
df.info()

In [ ]:
sns.pairplot(df)

In [ ]:
#To find the price column is normaly distributed or not
sns.distplot(df['Price'])

In [ ]:
df.corr()

In [ ]:
#mean is almost equal to median(50% wala row) so data is skewness
df.describe()

In [ ]:
#Target column
#through df.iloc[:,-2]
y=df['Price']

In [ ]:
y

In [ ]:
#x=df.iloc[:,df.columns!='Price']
x=df.iloc[:,:-2]

In [ ]:
x

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=1)

In [ ]:
#built model
#Step:1 Import model
from sklearn.linear_model import LinearRegression

#Step:2 Create instance/object of model
lr=LinearRegression()

#Step:3 Train a model
lr.fit(xtrain,ytrain)#In Linear Regression best fit value by calculating
                     #m and c.     
#Step:4 predict values
ypred=lr.predict(xtest)

In [ ]:
ypred

In [ ]:
#Evaluate model
from sklearn.metrics import r2_score
r2_score(ytest,ypred)

In [ ]:
lr.coef_

In [ ]:
pd.DataFrame({"Feature":x.columns,"coef":lr.coef_})

In [ ]:
#rooms=df['Avg. Area Number of Rooms']
#mlt.scatter(rooms,ypred)
#mlt.plot(xtest['Avg. Area Number of Rooms'],ypred)

In [ ]:
#Error loss function OR cost function
from sklearn.metrics import mean_absolute_error

In [ ]:
#MAE
mean_absolute_error(ytest,ypred)

In [ ]:
#MSE
from sklearn.metrics import mean_squared_error
mean_squared_error(ytest,ypred)

In [ ]:
#RMSE
np.sqrt(mean_squared_error(ytest,ypred))

In [ ]:
xtrain=np.arange(0,len(xtrain),1)
mlt.scatter(xtrain,ytrain,color='red')
mlt.plot(xtest.values,ypred,color='blue')

# 17.07.2023
# Position_Salaries
# Polynomial linear regression
### Non linera regression data sathi polynomial linear regression use

In [ ]:
df=pd.read_csv(r'C:\Users\admin\Desktop\Position_Salaries.csv')
df

In [ ]:
x=df[['Level']]
y=df['Salary']

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x,y)
ypred=lr.predict(x)

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(y,ypred)

In [ ]:
mlt.scatter(x,y,color='red')
mlt.plot(x.values,ypred,color='blue')

In [ ]:
#convert the feature into polyxtrain

from sklearn.preprocessing import PolynomialFeatures
pf=PolynomialFeatures()
polyxtrain=pf.fit_transform(x) #xtrain

from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(polyxtrain,y)
ypred=lr.predict(polyxtrain) #poly feature of xtest

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(y,ypred)

In [ ]:
mlt.scatter(x,y,color='red')
mlt.plot(x.values,ypred,color='blue')

In [ ]:
sns.pairplot(df)

# 24.7.2023 Social Network ads

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv(r"C:\Users\admin\Desktop\Social_Network_Ads.csv")

In [ ]:
df

In [ ]:
df['Purchased'].value_counts()
#0 for no
#1 for yes

In [ ]:
#remove unnesesorrry column
df.drop(columns="User ID",inplace=True)

In [ ]:
df.info()

In [ ]:
sns.pairplot(df,hue='Purchased')

In [ ]:
df.head()

In [ ]:
#seperate x and y
x=df.iloc[:,1:-1]
y=df['Purchased']
x

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.25,random_state=0)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
kn=KNeighborsClassifier(n_neighbors=3) # K value default 5
kn.fit(xtrain,ytrain)
ypred=kn.predict(xtest)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest,ypred)

In [ ]:
#Try to find out best value for k..
#hyper tuning the value for k
ac_list=[]
for i in range(1,31):
    kn=KNeighborsClassifier(n_neighbors=i) # K value default 5
    kn.fit(xtrain,ytrain) 
    ypred=kn.predict(xtest)
    ac=accuracy_score(ytest,ypred)
    ac_list.append(ac)

In [ ]:
ac_list

In [ ]:
plt.figure(figsize=(7,7))
plt.plot(range(1,31),ac_list,marker="o")
plt.xlabel("value of k")
plt.ylabel("Accuracy")
plt.grid()
plt.show

In [ ]:
kn=KNeighborsClassifier(n_neighbors=11) # K value default 5
kn.fit(xtrain,ytrain) 
ypred=kn.predict(xtest)
accuracy_score(ytest,ypred)

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ytest,ypred)
#Read below output:89(65+24) is correctly predicted & 11(8+3) is non corrected.
#3 is type 1(False negative) error & 8 is type 2(false positive) error.
#

# 25.07.2023 Mobile Data:Grid Search CV for find K value

In [ ]:
df=pd.read_csv(r"C:\Users\admin\Desktop\Mobile_data.csv")
df

In [ ]:
df.columns

In [ ]:
df['price_range'].value_counts()
#Data equally distributed

In [ ]:
df.describe()

In [ ]:

mlt.figure(figsize=(12,12))
sns.heatmap(df.corr(),annot=True)

In [ ]:
#To find Correlation though code
corr=df.corr()
high_corr_feature=corr.index[abs(corr['price_range'])>0.5]

In [ ]:
high_corr_feature

In [ ]:
#Only show the highly corelated data heatmap
sns.heatmap(data=df[high_corr_feature].corr(),annot=True)

In [ ]:
x=df.iloc[:,:-1] #x=df.drop(['Price_range'],axis=1)
y=df.iloc[:,-1]# y=df['Price_range']

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.20,random_state=123)

Model_Building

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
clf=KNeighborsClassifier(n_neighbors=5)
clf.fit(xtrain,ytrain)

In [ ]:
param_grid={"n_neighbors":[2,4,5,7,9],
            "metric":['euclidean','minikowski','manhattan'],
            'weights':['uniform','distance']}
#to adjust data point below two technique is use
#uniform : equally distrbuted,distance : from k to data distance of inverse value

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
model=GridSearchCV(clf,param_grid,cv=3,n_jobs=-1,scoring='accuracy')
#cv=cross validation combination number given in cv
#n_jobs:
#scoring:scor find out
model.fit(xtrain,ytrain)

In [ ]:
model.best_params_

In [ ]:
model.best_score_

# 31-07-2023

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pylab as plt
import warnings
warnings.filterwarnings("ignore")

In [ ]:
dfcar=pd.read_csv(r"C:\Users\admin\car.csv")
dfcar

In [ ]:
dfcar.replace("?",np.nan,inplace=True)

In [ ]:
dfcar['horsepower']=dfcar['horsepower'].astype('float')

In [ ]:
dfcar['normalized-losses']=dfcar['normalized-losses'].astype('float')

In [ ]:
dfcar.info()

In [ ]:
dfcar.mean()
dfcar.fillna(dfcar.mean(),inplace=True)

In [ ]:
dfcar

In [ ]:
feature=dfcar.iloc[ : , :-1]
target=dfcar.iloc[ : ,-1]

In [ ]:
feature

In [ ]:
target

In [ ]:
#seperate the numerical data & categorical column
num_feature=feature.select_dtypes(['int64','float64'])
cat_feature=feature.select_dtypes(['object']).columns

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder()
feature[cat_feature]=oe.fit_transform(feature[cat_feature])

In [ ]:
feature

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(feature,target,test_size=0.3,random_state=1)

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(xtrain,ytrain)

In [ ]:
train=lr.score(xtrain,ytrain)#training accuracy
test=lr.score(xtest,ytest)#testing accuracy
print(f"training accuracy:{train}")
print(f"testing accuracy:{test}")

#Low bairs(traning error kami ahet) and high variance (testing error jast ahe)
#Traning accuracy jast asel tr bairs kami i.e error kami ahet traning madhe
#tesing accuracy jast asel tr variance kami i.e error kami ahet tesing madhe
#Traning accuracy kami asel tr bairs jast i.e error jast ahet traning madhe
#tesing accuracy kami asel tr variance jast i.e error jast ahet tesing madhe

#low traning error-->low bias
#high tesing error-->high variance
#this is case of overfitting

### 3 steps to perform in ridge

In [ ]:
from sklearn.linear_model import Ridge,Lasso

In [ ]:
#L2 regularisation
#alpha means is hypertuning parameter
L2=Ridge(alpha=5)
L2.fit(xtrain,ytrain)

In [ ]:
train=L2.score(xtrain,ytrain)#training accuracy
test=L2.score(xtest,ytest)#testing accuracy
print(f"training accuracy:{train}")
print(f"testing accuracy:{test}")

In [ ]:
#hypertuning lambda or alpha value
for i in range(1,30):
    L2=Ridge(alpha=i)
    L2.fit(xtrain,ytrain)
    test=L2.score(xtest,ytest)
    print(f"value of lambda {i} test score:{test}")
# here 11 is our sweet point i.e global minima point

In [ ]:
#Final alpha model for L2
L2=Ridge(alpha=11)
L2.fit(xtrain,ytrain)
train=L2.score(xtrain,ytrain)#training accuracy
test=L2.score(xtest,ytest)#testing accuracy
print(f"training accuracy:{train}")
print(f"testing accuracy:{test}")

In [ ]:
#L1 regularization--->LASSO(least absolute and selection operator)
for i in range(201,250):
    L1=Lasso(alpha=i)
    L1.fit(xtrain,ytrain)
    test=L1.score(xtest,ytest)
    print(f"value of lambda {i} test score:{test}")
#210 is the sweet point

In [ ]:
L2=Ridge(alpha=210)
L2.fit(xtrain,ytrain)
train=L1.score(xtrain,ytrain)#training accuracy
test=L1.score(xtest,ytest)#testing accuracy
print(f"training accuracy:{train}")
print(f"testing accuracy:{test}")

# Cross validation

In [ ]:
from sklearn.model_selection import KFold
kf=KFold(n_splits=5,shuffle=False).split(range(25))
#split(range(25) means how many time data split and rotate
#n_splits=5 means how may folds.
print("{}{:^61} {}".format("Iteration","Trainig Set observation","Testing Set Observation"))
for iterationdata,data in enumerate(kf,start=1):
    print("{:^9} {} {:^25}".format(iterationdata,data[0],str(data[1])))

# 02-08-2023 Diabities data

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
df=pd.read_csv("diabetes.csv")

In [23]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [24]:
df.shape

(768, 9)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [26]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [27]:
df.skew()

Pregnancies                 0.901674
Glucose                     0.173754
BloodPressure              -1.843608
SkinThickness               0.109372
Insulin                     2.272251
BMI                        -0.428982
DiabetesPedigreeFunction    1.919911
Age                         1.129597
Outcome                     0.635017
dtype: float64

In [28]:
#Glucose	BloodPressure	SkinThickness	Insulin	BMI
df['Glucose'].replace(0,np.nan,inplace=True)
df['BloodPressure'].replace(0,np.nan,inplace=True)
df['SkinThickness'].replace(0,np.nan,inplace=True)
df['Insulin'].replace(0,np.nan,inplace=True)
df['BMI'].replace(0,np.nan,inplace=True)

In [29]:
gmean=df['Glucose'].mean()
bmean=df['BloodPressure'].mean()
smean=df['SkinThickness'].mean()
imean=df['Insulin'].mean()
bmean=df['BMI'].mean()

In [30]:
df['Glucose'].fillna(gmean,inplace=True)
df['BloodPressure'].fillna(bmean,inplace=True)
df['SkinThickness'].fillna(smean,inplace=True)
df['Insulin'].fillna(imean,inplace=True)
df['BMI'].fillna(bmean,inplace=True)

In [31]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31,0
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.00000,180.000000,32.9,0.171,63,0
764,2,122.0,70.0,27.00000,155.548223,36.8,0.340,27,0
765,5,121.0,72.0,23.00000,112.000000,26.2,0.245,30,0
766,1,126.0,60.0,29.15342,155.548223,30.1,0.349,47,1
767,1,93.0,70.0,31.00000,155.548223,30.4,0.315,23,0

In [32]:
#update mean through for loop
#for i  in range ('Glucose','BloodPressure','SkinThickness','Insulin','BMI'):
#    df[i].replace(0,np.nan,inplace=True)
#    df[i].fillna(df[i].mean(),inplace=True)

In [37]:
#Update mean through for loop
for i in ['Glucose','BloodPressure','SkinThickness','Insulin','BMI']:
    df[i].replace(0,np.nan,inplace=True)
    df[i].fillna(df[i].mean(),inplace=True)

In [38]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,121.686763,70.584650,29.153420,155.548223,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.435949,14.690947,8.790942,85.021108,6.875151,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.750000,62.000000,25.000000,121.500000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.153420,155.548223,32.400000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,155.548223,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [39]:
df["C"].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [44]:
#Separating x and y

x=df.iloc[:,1:-1]
y=df["Outcome"]

In [46]:
x.head()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148.0,72.0,35.00000,155.548223,33.6,0.627,50
1,85.0,66.0,29.00000,155.548223,26.6,0.351,31
2,183.0,64.0,29.15342,155.548223,23.3,0.672,32
3,89.0,66.0,23.00000,94.000000,28.1,0.167,21
4,137.0,40.0,35.00000,168.000000,43.1,2.288,33

In [47]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [48]:
# Splitting of data

from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.25,random_state=1)

In [49]:
# Model Building

from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()
logreg.fit(xtrain,ytrain)
ypred=logreg.predict(xtest)

In [50]:
#Evaluate model

from sklearn.metrics import classification_report

In [52]:
print(classification_report(ypred,ytest))

              precision    recall  f1-score   support

           0       0.87      0.80      0.83       134
           1       0.61      0.72      0.66        58

    accuracy                           0.78       192
   macro avg       0.74      0.76      0.75       192
weighted avg       0.79      0.78      0.78       192

In [57]:
# Hypertunning using solver parameter

logreg=LogisticRegression(solver="liblinear")
logreg.fit(xtrain,ytrain)
ypred=logreg.predict(xtest)

In [58]:
print(classification_report(ypred,ytest))

              precision    recall  f1-score   support

           0       0.89      0.79      0.84       139
           1       0.58      0.75      0.66        53

    accuracy                           0.78       192
   macro avg       0.74      0.77      0.75       192
weighted avg       0.81      0.78      0.79       192

In [59]:
logreg=LogisticRegression(solver="saga")
logreg.fit(xtrain,ytrain)
ypred=logreg.predict(xtest)

In [60]:
print(classification_report(ypred,ytest))

              precision    recall  f1-score   support

           0       0.88      0.70      0.78       155
           1       0.32      0.59      0.42        37

    accuracy                           0.68       192
   macro avg       0.60      0.65      0.60       192
weighted avg       0.77      0.68      0.71       192

In [61]:
# Scalling

In [66]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
xtrain=sc.fit_transform(xtrain)
xtest=sc.transform(xtest)

In [67]:
logreg=LogisticRegression(solver="saga")
logreg.fit(xtrain,ytrain)
ypred=logreg.predict(xtest)

In [68]:
print(classification_report(ypred,ytest))

              precision    recall  f1-score   support

           0       0.87      0.80      0.83       134
           1       0.61      0.72      0.66        58

    accuracy                           0.78       192
   macro avg       0.74      0.76      0.75       192
weighted avg       0.79      0.78      0.78       192